<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add Person</title>
</head>
<body>
<div align="center">
    <h3>Please enter the information for the person</h3>
    <form action="addItem" th:action="@{addItem}" th:object="${newPerson}" method="post">
        <table>
            <tr>
                <td><label>ID</label></td>
                <td><input type="number" th:field="*{id}" readonly/></td>
            </tr>
            <tr>
                <td><label>Name</label></td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td><label>UserName</label></td>
                <td><input type="text" th:field="*{username}"/></td>
            </tr>
            <tr>
                <td><label>Email</label></td>
                <td><input type="text" th:field="*{email}"/></td>
            </tr>
            <tr>
                <td><input type ="submit" value="Submit"/></td>
            </tr>
        </table>
    </form>

</div>

</body>
</html>