<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Application</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>
<div class="container">
    <h1>Welcome to my Spring Boot Application!</h1>

    <p>This project is mostly to demonstrate my understanding of Spring Boot, including Web and Data JPA modules.</p>

    <p>Complete list of technologies:</p>

    <ul>
        <li>Use of Java</li>
        <li>Use of Spring Boot</li>
        <li>Use of Spring Boot Web</li>
        <li>Use of Spring Boot Data JPA</li>
        <li>Use of Thymeleaf</li>
        <li>Use of Bootstrap</li>
    </ul>

    <a class="btn btn-primary" href="list">Launch app &rarr;</a>
</div>
</body>
</html>