<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Persons</title>
</head>
<body>
<div align="center">
    <table border="1" cellpadding="5">

        <caption><h2>User Data from JSON Placeholder</h2></caption>

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
        </tr>

        <tr th:each="person : ${peopleData.personList}">
            <td th:text="${person.id}">Id</td>
            <td th:text="${person.name}">name</td>
            <td th:text="${person.username}">username</td>
            <td th:text="${person.email}">email</td>
        </tr>
    </table>

    <h3>
        <a href="addItem">Add someone to the list!</a>
    </h3>


</div>
</body>
</html>