<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Item</title>
</head>
<body>
<div align="center">
    <table border="1" cellpadding="5">
        <caption><h2>Viewing Item</h2></caption>

        <tr>
            <td><label>ID</label></td>
            <td th:text="${person.id}"></td>
        </tr>

        <tr>
            <td><label>Name</label></td>
            <td th:text="${person.name}"></td>
        </tr>

        <tr>
            <td><label>UserName</label></td>
            <td th:text="${person.username}"></td>
        </tr>

        <tr>
            <td><label>Email</label></td>
            <td th:text="${person.email}"></td>
        </tr>

    </table>

    <h3>
        <a href="list">Return to list</a>
    </h3>



</div>

</body>
</html>